---
import AppIcon from './AppIcon.astro';
---

<div class="pda-app-grid">
  <AppIcon label="About Me" icon="/icons/about.svg" appId="about" />
  <AppIcon label="Experience" icon="/icons/experience.svg" appId="experience" />
  <AppIcon label="Projects" icon="/icons/projects.svg" appId="projects" />
  <AppIcon label="Blog" icon="/icons/blog.svg" appId="blog" />
  <AppIcon label="Contact" icon="/icons/contact.svg" appId="contact" />
  <AppIcon label="My Computer" icon="/icons/mycomputer.svg" appId="mycomputer" />
</div>

<style>
  .pda-app-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    padding: 16px 8px;
  }
</style>
